body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
  }
  
  header {
    flex: 0 80px;
    background-color: rgb(0, 80, 0);
  }
  
  main {
    flex: 1 calc(100vh - 110px);
    display: block;
    /*flex-direction: column;*/
    justify-content: start;/**/
    overflow-y: auto;
  }
  
a {
  color:aquamarine;
}

  .text-center {
    align-items: start !important;
    text-align: start !important;

  }

  .bg-dark {
    background-color: rgb(0, 80, 0) !important;
  }

  .bg-secondary {
    background-color: hsl(120, 30%, 40%) !important;
  }
  
  menu {
    flex: 1;
    display: flex;
    /*  overwrite Bootstrap so the menu does not wrap */
    flex-direction: row !important;
    align-items: center;
    justify-content: space-between;
    list-style: none;
  }

.navbar-nav {
    margin-top: 8px;
    padding-right: 5vw;
}
  
.navbar-brand {
    padding-left: 1vw;
    padding-top: 0;
    font-size: 2.2rem;
    /* border-bottom: solid rgb(182, 182, 182) thin; */
  }
  
  menu .nav-item {
    padding: 0 0.3em;
  }
  
  footer a {
    float: right;
  }

  .btn {
    background-color:green;
    border-color: green;
  }

  .time {
    /*color: aquamarine;*/
    color: hsl(120, 30%, 70%);
    font-size: calc(var(--bs-body-font-size) / 3 * 2);
  }

  .you {
    text-align: right !important;
    margin-left: 20vw;
  }

  .homepagestuff {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
@media (max-height: 600px) {
    header {
      display: none;
    }
    footer {
      display: none;
    }
    main {
      flex: 1 100vh;
    }
  }
  